<div class="team home">

    <div class="teamLink">
        <div class="badgeContainer">
            <span alt class="badge-75 t2 u-hide-phablet"></span>
            <span alt class="badge-50 t2 u-show-phablet u-hide-mobile"></span>
            <span alt class="badge-35 t2 u-show-mobile"></span>
        </div>
        <div class="teamName">
            <span class="long u-hide-phablet">Leeds United</span>
            <span class="short u-show-phablet">Leeds</span>
        </div>

    </div>

</div>

<div class="scorebox__score-container">
    <div class="js-match-score-container">
        <div class="score fullTime">
            <div class="home">1</div>
            <div class="away">4</div>
        </div>
    </div>
    <div class="scorebox__aggregate js-aggregate-score u-hide"></div>
</div>


<div class="team away">

    <div class="teamLink">
        <div class="badgeContainer">
            <span alt class="badge-75 t13 u-hide-phablet"></span>
            <span alt class="badge-50 t13 u-show-phablet u-hide-mobile"></span>
            <span alt class="badge-35 t13 u-show-mobile"></span>
        </div>
        <div class="teamName">
            <span class="long u-hide-phablet">Leicester City</span>
            <span class="short u-show-phablet">Leicester</span>
        </div>

    </div>

</div>